<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
        <title>{{ app_name }} - CMS</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script type="text/javascript">
          window.appEnv = {
            title: '{{ app_name }}',
            user: '{{ app.user.identifier }}',
            logo: '{{ asset('build/logo.jpg') }}',
            basePath: '{{ path('app_dashboard') }}',
            baseUrl: '{{ app.request.schemeAndHttpHost }}',
            logoutUrl: '{{ url('app_logout') }}'
          };
        </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="root">Loading...</div>
    </body>
</html>
